$palette: (
    primary: (purple: hsl(259, 100%, 65%),
        red: hsl(0, 100%, 67%),
    ),
    neutral: (white: hsl(0, 0%, 100%),
        off-white: hsl(0, 0%, 94%),
        light-grey: hsl(0, 0%, 86%),
        smokey-grey: hsl(0, 1%, 44%),
        off-black: hsl(0, 0%, 8%),
    )
);

@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/Poppins-Italic.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 800;
    font-style: italic;
    src: url('../fonts/Poppins-BoldItalic.ttf');
}

$input-font: 32px;
$font-family: 'Poppins', sans-serif;

$fonts: (
    light: (weight: 400,
        style: italic,
    ),
    regular: (weight: 700,
        style: normal,
    ),
    bold: (weight: 800,
        style: italic),
);

@function color($color, $tone) {
    @return map-get(map-get($palette, $color), $tone);
}

@function font-weight($tone) {
    @return map-get($fonts, $tone);
}

@mixin get-font($font) {

    @each $fontName,
    $fontProperties in $fonts {
        @if $fontName ==$font {
            font-weight: map-get($fontProperties, weight);
            font-style: map-get($fontProperties, style);
        }
    }
}